<div id="descriptionAccordion" class="accordion mb-3">
    <div class="card">
      <div class="card-header" id="moreDetails">
          <a href="#collapse" class="card-header__title collapsed d-flex justify-content-between align-items-center" data-toggle="collapse" aria-expanded="true" aria-controls="collapse">
            <h5 class="mt-1 mb-0">More Details</h5>
            <span class="card-header__title-icon"><span class="card-header__title-icon-trigger"></span></span>
          </a>
      </div>
      <div id="collapse" class="collapse" aria-labelledby="moreDetails" data-parent="#descriptionAccordion">
        <div class="card-body">
          <p>Refresh Yourself, Restore Our Oceans.</p>
          <ul>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>Alkaline 9.5pH
            </li>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>Ultra-Pure, Vapor Distilled
            </li>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>Custom wide-mouth bottle shape 
            </li>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>First and only beverage in the world in a bottle made from 100% recycled, certified ocean-bound plastic 
            </li>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>Each bottle is made from up to 5 bottles, rescued from at-risk coastlines and waterways, preventing them from reaching and polluting the ocean
            </li>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>100% Recyclable, including the label and cap
            </li>
            <li class="product_desc_bullets">
              <span class="arrow arrow--right" tabindex="0" role="button" aria-label="Next slide" style="height: 20px;width: 40px;background-color: transparent;">
                <!--<svg style="width:16px;height: 16px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00cef7" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.028 13.29V7.942H0.68V5.884H6.028V0.549999H8.086V5.884H13.42V7.942H8.086V13.29H6.028Z" fill="#00CEF7"/></svg>
              </span>1% of sales donated to ocean conservation and  recycling advocacy
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>