<div class="wave">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M-26.52,139.63 C240.40,-74.50 236.45,224.50 505.64,63.64 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
  </svg>
</div>
