{% assign title = section.settings.title %}
{% assign text = section.settings.text %}
{% assign background = section.settings.background %}

{% if section.settings.background_mobile != blank %}
  {% assign background_mobile = section.settings.background_mobile %}
{% else %}
  {% assign background_mobile = section.settings.background %}
{% endif %}

<div class="sign-up-footer" data-below-process>
  <div class="container-fluid-max">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6">
        {% if title != blank %}
          <h3 class="sign-up__title">{{ title}}</h3>
        {% endif %}

        {% if text != blank %}
          <div class="sign-up__content p1">{{ text}}</div>
        {% endif %}

        {% if settings.klaviyo_form == blank %}
          <div class="alert alert-danger small">A valid form class is required for this section. Please go to <strong>General Settings -> Klaviyo</strong> in the theme editor to add this information</div>
        {% else %}
          <div class="sign-up__form">
            <div class="{{ settings.klaviyo_form }}"></div>
          </div>
        {% endif %}  
      </div>
    </div>
  </div>
  
  {% if background != blank %}
    <div class="sign-up__background">
      {% include 'image_tag'
        image: background,
        object_fit: 'cover'
        image_class: 'desktop'   
      %}  
      
      {% if background_mobile != blank %}
        {% include 'image_tag'
          image: background_mobile,
          object_fit: 'cover'
          image_class: 'mobile'  
        %}
      {% endif %}
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Sign Up Footer",
    "settings": [
      {
        "type": "header",
        "content": "Sign Up Footer"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background - Desktop"
      },
      {
        "type": "image_picker",
        "id": "background_mobile",
        "label": "Background - Mobile"
      }
    ]
  }
{% endschema %}
