{% assign title = section.settings.title %}

<div data-section-id="{{ section.id }}" class="store-locator">
  <div class="container-fluid-max">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% if title != blank %}
          <h1 class="store-locator__title h1 text-center">
            {{ title | remove: '<p>'  | remove: '</p>' }}
          </h1>
        {% endif %}
        <div style="text-align:center;margin-bottom: 20px;">
          <a href="/products/zen-wtr-9-5ph-12-1l" class="btn btn-primary" style="margin-left: 15px;">Shop Online</a>
        </div>
      </div>
    </div>
  </div>
  
  <script src="//destinilocators.com/zenwtr/site/install/?MM=panel2"></script>
</div>
  

{% schema %}
  {
    "name": "Store Locator",
    "settings": [ 
      {
        "type": "richtext",
        "id": "title",
        "label": "Title",
        "info": "Bold texts appears blue." 
      }
    ]  
  }
{% endschema %}
