{%- comment %}
  Combines zenpose-top, zenpose-images and zenpose bottom into one template
{% endcomment -%}

<div class="container">
	{%- section 'zenpose-video' -%}
	{%- section 'zenpose-top' -%}
	{%- section 'zenpose-ig' -%}
	{%- section 'zenpose-bottom' -%}
</div>